* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color: #000;
    text-align: center;
    margin: 10px;
    line-height: 1.5;
}

/* header */
h1 {
    font-size: 3.125rem;
}

#fade-first {
    animation: faded linear 2000ms;
}
#fade-second {
    animation: faded ease-in 3500ms;
}
#fade-last {
    animation: faded ease-in 6000ms;
}

@keyframes faded {
    from {color: #000;}
    to {color: #fff;}
}

/* main */
h2 {
    font-weight: 300;
    font-size: 2.625rem;
}

p {
    font-size: 1.3125rem;
    color: #808080;
}

a {
    color: #7fffd4;
    font-size: 1rem;
    transition: color 500ms linear 200ms;
}

a:hover {
    color: #b8860b;
}

/* video */
video {
    width: 75%;
    max-height: 720px;
}

source {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

/* images */
figure{
    width: 75%;
    max-height: 530px;
    overflow: hidden;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

#campground {
    border-radius: 2px;
}

/* footer */
footer p {
    text-align: right;
}