* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color: #000;
    text-align: center;
    line-height: 1.5;
    margin: 0;
}

body {
    margin: 10px;
}

/* header */
h1 {
    font-size: 3.125rem;
    font-weight: normal;
    margin: 10px 0;
}

span {
    display: inline-block;
}

#fade-first {
    animation: faded linear 2500ms;
}
#fade-second {
    animation: faded ease-in 3600ms;
}
@keyframes faded {
    from {opacity: 0;}
    to {opacity: 1;}
}

#fade-last {
    animation: fancy ease-in 4600ms;
    position: relative;
}
@keyframes fancy {
    0% {opacity: 0; top: -100px; left: -25px;}
    25% {opacity: 0; top: -100px; left: -25px;}
    100% {opacity: 1; top: 0; left: 0;}
}
@media screen and (max-width: 421px) {
    @keyframes fancy {
        0% {opacity: 0; left: -100px;}
        20% {opacity: 0; left: -100px;}
        100% {opacity: 1; left: 0px;}
    }
}

/* main */
h2 {
    font-weight: 300;
    font-size: 2.625rem;
    margin: 10px 0;
}

p {
    font-size: 1.3125rem;
    color: #808080;
}

a {
    color: #7fffd4;
    font-size: 1rem;
    transition: color 500ms linear 200ms;
}

a:hover {
    color: #b8860b;
}

/* video */
video {
    width: 75%;
    max-height: 720px;
    margin: 10px 0;
}

source {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

/* images */
figure{
    width: 75%;
    max-height: 530px;
    overflow: hidden;
    margin: 10px auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

#campground {
    border-radius: 2px;
}

/* footer */
footer {
    margin: 10px 0;
}
footer p {
    text-align: right;
}