* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color: #000;
    text-align: center;
    margin: 10px;
}

h1 {
    font-size: 3.125rem;
}

a {
    color: #7fffd4;
    font-size: 1rem;
}

h2 {
    font-weight: 300;
    font-size: 2.625rem;
}

p {
    font-size: 1.3125rem;
    color: #808080;
}

video {
    width: 50%;
    max-height: 720px;
}

source {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

/* #campground { */
figure{
    width: 50%;
    max-height: 530px;
    overflow: hidden;
    margin: auto;
}

/* #campground img { */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

footer p {
    text-align: right;
}